.navigation {
  &__checkbox {
    display: none;
  }

  //   icon
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    text-align: center;
    cursor: pointer;
    //  should be above  the button
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  }

  //  for the icon (backgorund will come out of the icon)
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    // takes element out of flow
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    // to be above the rest of the page while scrolling
    z-index: 1000;
    transition: transform 0.8s ease;

    // to testing purpose
    // transform: scale(70);
  }

  //  it will the entire page
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // should be above the background
    z-index: 1500;

    // initailly to hide the navbar
    opacity: 0;
    width: 0;
    transition: all 0.8s ease;
  }

  &__list {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-transform: uppercase;
      padding: 1rem 2rem;

      //    using solid color gradients (also used in booking section) to get the wedges  on hover
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );

      background-size: 230%;
      transition: all 0.4s;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      //   to move little left on hover for good animation
      transform: translateX(-1rem);
    }
  }

  //  when the checkbox is checked  background will scaled
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  //  when the checkbox is checked  navbar will visible
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //    building the icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  //  when we hover we want to space around between bars

  &__button:hover &__icon::before {
    top: -1.2rem;
  }

  &__button:hover &__icon::after {
    top: 1.2rem;
  }

  //    making the middle bar invisible
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  //   to make cross  icon when checkbox is checked
  //    to rotate the after and before bars
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
    // transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
    // transform: rotate(-45deg);
  }
}
